body {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'DynaPuff', cursive;
}

/* Video background */
.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Page heading */

h1 {
    font-size: 3rem;
}

/* Help button */
#help-button {
    position: absolute;
    top: -8%;
    right: 1%;
    font-size: 2rem;
}

/* Rules window */
#rules {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    left: 25%;
    top: 12%;
    background-color: white;
    border: 2px solid;
    font-size: 1.2rem;
    padding: 2px 10px 2px;
}

#the-rules {
    position: relative;
    right: 3%;
    list-style: none;
}

#easy-label {
    position: absolute;
    top: 69%;
    left: 10%;
    color: green;
}

#easy-choice {
    position: absolute;
    left: 5%;
}

#easy-choice:hover {
    background-color: green;
}

#medium-label {
    color: orange;
}

#medium-choice:hover {
    background-color: orange;
}

#hard-label {
    position: absolute;
    top: 69%;
    right: 10%;
    color: red;
}

#hard-choice {
    position: absolute;
    right: 5%;
}

#hard-choice:hover {
    background-color: red;
}

/* Text reminder for clicking help button to open rules window */
#rules-reminder {
    font-size: 0.8rem;
}

/* Play button to hide rules window */
#play-button {
    position: relative;
    width: 60px;
    border: 2px solid;
    bottom: 0;
    left: 45%;
    font-size: 1.5rem;
}

#play-button:hover {
    background-color: yellow;
}

/* Win screen */
#win-screen {
    visibility: hidden;
    z-index: 1;
    position: fixed;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
}

/* Lose screen */
#lose-screen {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
}

.giphy-embed {
    width: 100%;
    height: 100%;
    position: relative;
}

.play-again-button {
    font-size: 2rem;
    border: 2px solid;
    font-family: 'DynaPuff', cursive;
}

.play-again-button:hover {
    background-color: yellow;
}

/* Difficulty selector buttons */
.difficulty-button {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

/* Lives left tracker area*/
#lives-area {
    height: 600px;
    float: left;
    width: 20%;
}

/* Lives left text */
#lives-area p {
    border: 3px solid;
    font-size: 2rem;
    position: relative;
    top: 28%;
    left: 23%;
    width: 150px;
    background-color: white;
}

/* Number of lives left tracker */
#lives {
    border: 2px solid;
    border-radius: 50%;
    font-size: 5rem;
    position: relative;
    top: 32%;
    background-color: white;
}

/* Game selection buttons */
.controls-area {
    height: 600px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#rock {
    position: absolute;
    top: 10%;
    left: 41%;
}

#rock-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  z-index: 2;
}

#rock:hover #rock-tooltip {
    visibility: visible;
}

#paper {
    position: absolute;
    top: 10%;
    right: 10%;
}

#paper-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 2;
  }
  
  #paper:hover #paper-tooltip {
      visibility: visible;
  }

#scissors {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#scissors-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 2;
  }
  
#scissors:hover #scissors-tooltip {
    visibility: visible;
  }

#lizard {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#lizard-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 2;
  }
  
  #lizard:hover #lizard-tooltip {
      visibility: visible;
  }

#spock {
    position: absolute;
    top: 10%;
    left: 10%;
}

#spock-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 2;
  }
  
  #spock:hover #spock-tooltip {
      visibility: visible;
  }

/* Player selection area */
#my-choice {
    position: absolute;
    top: 40%;
    left: 25%;
}

/* Label for player selection area */
#you {
    position: absolute;
    top: 60%;
    left: 32%;
}

/* Shoot! button */
#shoot {
    position: absolute;
    top: 50%;
    left: 47%;
    border: 3px solid;
    font-family: 'DynaPuff', cursive;
}

/* Computer selection area */
#comp-choice {
    position: relative;
    top: 40%;
    left: 55%;
}

/* Label for computer selection area */
#computer {
    position: absolute;
    top: 60%;
    right: 30%;
}

/* Score tracker */
#score-area {
    position: absolute;
    top: 75%;
    left: 43%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Difficulty area div */
#difficulty-area {
    height: 600px;
    float: right;
    width: 20%;
}

/* Easy, Medium, Hard difficulty table */
#difficulty-tracker {
    border: 2px solid;
    width: 290px;
    transform: rotate(90deg);
    position: absolute;
    top: 55%;
    right: -5%;
    font-size: 2rem;
    background-color: white;
}

table td {
    border-right: 2px solid;
}

/* All game selection buttons */

.selection {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.selected {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
}

/* Media Query for 1150px wide and down */

@media screen and (max-width: 1150px) {
    #my-choice {
        left: 20%;
    }

    #computer {
        right: 25%;
    }

    #rules {
        left: 20%;
    }
}

/* Media Query for 1000px wide and down */

@media screen and (max-width: 1000px) {
    #score-area {
        left: 41%;
    }
}

/* Media Query for 980px wide and down */

@media screen and (max-width: 980px) {
    #scissors {
        right: 5%;
    }

    #my-choice {
        left: 15%;
    }

    #rules {
        left: 15%;
    }
}

/* Media Query for 910px wide and down */

@media screen and (max-width: 910px) {
    #paper {
        right: 5%;
    }

    #rules {
        left: 12%;
    }
}

/* Media Query for 840px wide and down */

@media screen and (max-width: 840px) {
    #scissors {
        right: 2%;
    }

    #computer {
        right: 20%;
    }

    #rules {
        left: 10%;
    }
}

/* Media Query for 780px high and down */

@media screen and (max-height: 780px) {
    #rules {
        top: 2%;
    }
}

/* Media Query for 800px wide and down */

@media screen and (max-width: 800px) {

    h1 {
        font-size: 1.8rem;
    }

    #help-button {
        top: -6%;
    }

    #rules {
        left: 20%;
        font-size: 0.8rem;
    }

    #easy-label, #hard-label {
        top: 59%;
    }

    #score-area {
        top: 90%;
        left: 38%;
    }

    #shoot {
        top: 70%;
    }

    #paper, #scissors {
        right: -20%;
    }

    #rock {
        left: 35%;
    }

    #spock, #lizard {
        left: -20%;
    }

    #difficulty-tracker {
        transform: none;
        font-size: 1rem;
        width: 153px;
        top: 80%;
        right: 38%;
    }

    #lives-area p {
    font-size: 1.5rem;
    position: absolute;
    top: 6%;
    left: 35%;
    }

    #lives {
    font-size: 2rem;
    position: absolute;
    top: 9%;
    left: 65%;
    }
}

@media screen and (max-width: 650px) {
    
    #difficulty-tracker {
        right: 35%;
    }

    #help-button {
        top: 90%;
    }

    #rules {
        left: 10%;
    }
}

@media screen and (max-width: 550px) {
    #rules {
        left: 5%;
    }
}

@media screen and (max-width: 500px) {

    #rules {
        left: 1%;
    }
    
    #lives-area p {
        top: 8%;
        left: 25%;
    }

    #lives {
        top: 11%;
    }

    #rock {
        left: 25%;
    }

    #my-choice {
        left: -10%;
    }

    #computer {
        right: 2%;
    }

    #paper, #scissors {
        right: -30%;
    }

    #spock, #lizard {
        left: -30%;
    }

    #score-area {
        left: 30%;
    }

    #difficulty-tracker {
        right: 33%;
    }

    #shoot {
        left: 42%;
    }
}

@media screen and (max-width: 485px) {
    #rules {
        font-size: 0.5rem;
        left: 15%;
    }

    #easy-label {
        top: 51%;
        left: 15%;
    }

    #hard-label {
        top: 51%;
        right: 15%;
    }
}

@media screen and (max-width: 375px) {
    #rules {
        left: 8%;
    }

    #play-button {
        left: 38%;
    }

    #lives-area p {
        left: 15%;
    }

    .selection, .selected {
        width: 80px;
        height: 80px;
        border: 5px solid;
    }

    #my-choice {
        top: 25%;
    }

    #comp-choice {
        top: 25%;
    }

    #scissors, #lizard {
        bottom: 40%;
    }

    #you {
        top: 40%;
        left: 18%;
    }

    #computer {
        top: 40%;
        right: -5%;
    }

    #shoot {
        top: 48%;
    }

    #difficulty-tracker {
        top: 65%;
        right: 30%;
    }

    #score-area {
        top: 70%;
        left: 25%;
    }

    #help-button {
        top: 70%;
    }

    #win-screen, #lose-screen {
        top: 10%;
        left: 20%;
    }
}

@media screen and (max-width: 320px) {
    
    #rules {
        left: 2%;
    }

    #comp-choice {
        left: 48%;
    }

    #rock {
        left: 18%;
    }

    #paper, #scissors {
        right: -40%;
    }

    #difficulty-tracker {
        top: 68%;
        right: 22%;
    }

    #score-area {
        top: 75%;
        left: 23%;
    }

    #help-button {
        top: 75%;
    }
}