body {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'DynaPuff', cursive;
}

/* Video background */
.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Page heading */

h1 {
    font-size: 3rem;
}

/* Help button */
#help-button {
    position: absolute;
    top: -8%;
    right: 1%;
    font-size: 2rem;
}

/* Rules */
.rules {
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 15%;
    background-color: white;
    border: 2px solid;
    font-size: 1.2rem;
    padding: 10px;
    list-style: none;
}

#easy-label {
    position: absolute;
    top: 79%;
    left: 10%;
    color: green;
}

#easy-choice {
    position: absolute;
    left: 5%;
    background-color: green;
}

#medium-label {
    color: orange;
}

#medium-choice {
    background-color: orange;
}

#hard-label {
    position: absolute;
    top: 79%;
    right: 10%;
    color: red;
}

#hard-choice {
    position: absolute;
    right: 5%;
    background-color: red;
}

.difficulty-button {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

/* Lives left tracker area*/
.lives-area {
    height: 600px;
    float: left;
    width: 20%;
}

/* Lives left text */
.lives-area p {
    border: 3px solid;
    font-size: 2rem;
    position: relative;
    top: 28%;
    left: 23%;
    width: 150px;
    background-color: white;
}

/* Number of lives left tracker */
#lives {
    border: 2px solid;
    border-radius: 50%;
    font-size: 5rem;
    position: relative;
    top: 32%;
    background-color: white;
}

/* Game selection buttons */
.controls-area {
    height: 600px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#rock {
    position: absolute;
    top: 10%;
    left: 41%;
}

#rock-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  z-index: 1;
}

#rock:hover #rock-tooltip {
    visibility: visible;
}

#paper {
    position: absolute;
    top: 10%;
    right: 10%;
}

#paper-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  
  #paper:hover #paper-tooltip {
      visibility: visible;
  }

#scissors {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#scissors-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  
  #scissors:hover #scissors-tooltip {
      visibility: visible;
  }

#lizard {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#lizard-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  
  #lizard:hover #lizard-tooltip {
      visibility: visible;
  }

#spock {
    position: absolute;
    top: 10%;
    left: 10%;
}

#spock-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  
  #spock:hover #spock-tooltip {
      visibility: visible;
  }

/* Player selection area */
#my-choice {
    position: absolute;
    top: 40%;
    left: 25%;
}

/* Label for player selection area */
#you {
    position: absolute;
    top: 60%;
    left: 32%;
}

/* Shoot! button */
#shoot {
    position: absolute;
    top: 50%;
    left: 47%;
    border: 3px solid;
    font-family: 'DynaPuff', cursive;
}

/* Computer selection area */
#comp-choice {
    position: absolute;
    top: 40%;
    right: 25%;
}

/* Label for computer selection area */
#computer {
    position: absolute;
    top: 60%;
    right: 30%;
}

/* Score tracker */
.score-area {
    position: absolute;
    top: 75%;
    left: 43%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Win 3, Win 5, Win 10 difficulty rules text */
.difficulty-area {
    height: 600px;
    float: right;
    width: 20%;
}

.difficulty-area p {
    position: relative;
    top: 33%;
}

.difficulty-area p + p {
    margin-top: 80px;
}

/* Easy, Medium, Hard difficulty table */
.difficulty-tracker {
    border: 2px solid;
    width: 290px;
    transform: rotate(90deg);
    position: absolute;
    top: 55%;
    right: -5%;
    font-size: 2rem;
    background-color: white;
}

table td {
    border-right: 2px solid;
}

/* All game selection buttons */

.selection {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}